.calendar-scheduler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}
.react-calendar {
  border: none;
  border-radius: 10px;
  max-width: 1000px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.react-calendar__tile {
  color: black;
  border-radius: 10px;
}

.react-calendar__tile--active {
  background-color: gray;
  color: white;
  border-radius: 10px;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%; 
}

  .react-calendar__tile {
    max-width: initial !important;
  }

.appointment-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; 
}

.appointment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
}

.appointment-modal h2 {
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; 
}

.form-group {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.form-group input {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.form-group input:focus {
  outline: none;
  border-color: red;
  font-family: 'Open Sans', sans-serif;
}

.contact-button {
  display: block;
  width: 100px;
  padding: 10px;
  background-color: darkgray;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.contact-button:hover {
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
}

.trainer-select {
  display: block;
  justify-self: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: left;
  width: 215px;
  font-family: 'Open Sans', sans-serif;
}

.contactTime, .emailContact {
  width: 200px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.contact-button-view {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: darkgray;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.contact-button-view:hover {
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
}

.appointment-list-container {
  height: 300px;
  overflow-y: scroll;
}

.appointment-list li {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.contact-header {
  background-color: white;
}

