.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #454851;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #aaa;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
}

.signup_input {
  height: 30px; 
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: small;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-color: #BDBFC7;
  border-radius: 5px;
  padding-left: 10px;
}

.signup-form button {
  background-color: #8BBEB2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.signup-form button:hover {
  background-color: #498376;
}

.log_txt {
  font-family: 'Open Sans Light', sans-serif;
  font-size: small;
}

.log_txt span {
  color: #8BBEB2;
}

.login_button {
  border-color: white;
  border-style: hidden;
  background-color: white;
  color: #8BBEB2;
  cursor: pointer;
}